.schedule-table{
    width:100%;
    table-layout: auto;
    border-collapse: collapse;
}

td{
    color: var(--text-color);
    font-weight: 100;
    font-size: small;
}

.border-below{
    border-bottom: 1px solid white;

}

.td-header{
    background-color: var(--blue-color);
    height: 26px;
}