.root-div{
    width: 5rem;
    background-color: var(--secondary-color);
    height: 100vh;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 5px var(--accent-color);

}